@import url("https://use.typekit.net/vyd2wkn.css");

.container {
    width: 100vw;

    .row {
        align-items: center;
        text-align: center;
        justify-items: center;
        gap: 5%;
        margin: 1% 0%;
        height: 65vh;

            img { 
                width: 40vw; 
            }
    
        h4 {
            font-family: "eixample-dip", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 200%
        };
    }
}