<div>
    <div class="container text-center">
        <div class="row">
            <div class="col myImage">
            <img src="assets/Images/restaurant.jpeg" alt="Restaurant">
            </div>
            <div class="col text ">
                <h4>Benvenuti</h4>
                <p>... im Ristorante Il Gambero Rosso. Wir befinden uns im ersten Wiener Gemeindebezirk zwischen Stephansdom und Stadtpark. Unser Küchenchef und sein Team bereiten mit Leidenschaft und Handwerkskunst leckere italienische Spezialitäten zu. Die frische Zubereitung der Speisen ist dabei für uns eine Selbstverständlichkeit, genauso wie eine wechselnde Karte. Hol dir die italenische Küche nach Hause!</p>
            </div>
        </div>
    </div>
</div>