.bgBeige {
    background-color: rgb(251, 202, 142);
}
.beige {
    color: rgb(251, 202, 142);
}

.red{
    color: rgb(51, 6, 6);
    font-size:160%;
}

.bgRed {
    background-color:rgb(51, 6, 6);
}
.home {
    margin-left: 2%;
}