.container {
    
    .row {
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 6%;
        height:80vh;
    }
    

    img {
        // height: 50vh;
        width: 30vw;
        padding: 2% 0%;
    }

    .btn {
        margin: 5% 0%;
        background-color: rgb(51, 6, 6);
        border: 0px;
        padding: 2% 5%;
        color: white;
    }
}